/* main stylesheet for Omnifood website */

// load modules

@use 'reset';
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Quicksand&display=swap');

// overwriting bootstrap default variables

$primary: #F1F0E8;
$secondary: #85C384;
$light: #F1F0E8;
$dark: #333333;
$success: #016A70;

$emphasis-color-rgb:$dark;

$font-family-base: 'Poppins', sans-serif;

// import bootstrap

@import "../node_modules/bootstrap/scss/bootstrap";

// declare custom styles

.logo {
    border-radius: 50%;
}

footer {
    font-size: .8rem;
    .foot-header {
    font-size: .9rem;
}
}

.link-lang {
    color: #df7e30;
}